.contacts_wrapper {
  width: 100%;
  height: auto;

  display: flex;
  flex-wrap: wrap;

  gap: 2rem;
  margin-top: 2.5rem;
}

.contacts_wrapper>div {
  border-radius: 0.5rem;
  background-color: #f1f3f4;

  padding: 2rem;
}

.box_large {
  width: 57.35%;
}

.box_small {
  width: 34.25rem;
}

.box_small>span {
  margin-top: 0.2rem;
  margin-right: 1rem;
}

.p_name {
  font-size: 1.3rem;
  font-weight: 500;
  color: #8b8b8b;

  margin-bottom: 0.8rem;
}

.icon {
  color: #282828;
}

.p_info {
  font-size: 2.5rem;
  font-weight: 600;
  color: #282828;
}

@media (max-width: 1440px) {
  .box_large {
    width: 100%;
  }

  .box_small {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .contacts_wrapper {
    flex-direction: column;
    align-items: center;
  }

  .contacts_wrapper>div {
    width: 100%;
    text-align: center;
    margin-right: 0;
  }

  .box_small>span {
    margin-left: 1rem;
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .p_info {
    font-size: 2rem;
  }
}

@media (max-width: 425px) {
  .p_info {
    font-size: 1.8rem;
  }
}