.content_wrapper {
  display: flex;
  justify-content: space-between;

  gap: 2rem;
}

.items_wrapper {
  height: auto;
  display: flex;
  /* justify-content: space-between; */
  flex-direction: column;
}

.item_content {
  width: 100%;
  border: 1px solid #dddddd;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.image_container {
  width: 200px;
  /* height: 100%; */

  display: flex;
}

.cart_image {
  min-width: 100%;
  height: 100%;
  object-fit: cover;
}

.shopping_counter {
  width: 78%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 2rem;
}

.title {
  margin-bottom: 2rem;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product_name {
  position: relative;

  width: 100%;

  font-size: 1.3rem;
  font-weight: 500;
  color: #282828;
}

.btn_close {
  margin-left: 1rem;
  flex-shrink: 0;
}

.item_counter {
  display: flex;
  margin-right: 2rem;
}

.count_button {
  width: 58px;
  height: 58px;
  border: 1px solid #dddddd;
  background-color: transparent;
  font-size: 2rem;
}

.count_data {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 96px;
  height: 58px;
  border: 1px solid #dddddd;
  background-color: transparent;
  font-size: 1.5rem;
}

.product_price {
  font-size: 2.5rem;
  font-weight: 600;
  color: #282828;
}

.discount_item {
  position: relative;
  margin-left: 1.5rem;

  font-size: 1.3rem;
  font-weight: 500;
  color: #8b8b8b;
}

.delete_symbol {
  position: absolute;
  top: 50%;
  right: 0;
  width: 100%;
  border: solid 1px #8b8b8b;
}

.form_wrapper {
  width: 548px;
  border-radius: 1rem;
  background-color: #f1f3f4;
  height: max-content;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.form_title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #282828;
  margin-bottom: 1.5rem;
}

.text {
  font-size: 2.5rem;
  font-weight: 500;
  color: #8b8b8b;
  margin-right: 2rem;
}

.text>span {
  margin-right: 1rem;
}

.price_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.price_wrapper>p {
  margin-top: 1.5rem;
}

.total_price {
  font-size: 4rem;
  font-weight: 700;
  color: #282828;
}

.form_content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 2.2rem;
}

.form_content>input {
  width: 100%;
  padding: 1rem 2rem 1rem 2rem;
  border: solid 1px #dddddd;
  border-radius: 0.3rem;
  height: 58px;
}

.form_content>input::placeholder {
  font-size: 1.3rem;
  font-weight: 500;
  color: #8b8b8b;
}

.error_text {
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(142, 13, 13);
}

.form_button {
  width: 100%;
  height: 58px;
  background-color: #339933;
  border-radius: 0.3rem;
  border: none;
  font-size: 1.3rem;
  font-weight: 600;
  color: #ffffff;

  transition: background 0.3s, color 0.3s;
  cursor: pointer;
}

.form_button:hover {
  background: #282828;
  color: #fff;
}

@media (max-width: 1440px) {

  .content_wrapper {
    flex-direction: column;
    align-items: center;
  }

  .form_wrapper {
    width: 100%;
  }

  /* .shopping_counter {
    justify-content: center;
  } */

}

@media (max-width: 1110px) {
  .content_wrapper {
    flex-direction: column;
    align-items: center;
  }

  .item_price {
    margin-top: 1rem;
  }

}

@media (max-width: 768px) {}

@media (max-width: 525px) {
  .content_wrapper {
    min-width: 450px;
  }
}