.content_wrapper {
  width: 100%;

  display: flex;
  justify-content: space-between;

  margin-top: 2.5rem;
}

.images_content {
  width: 57%;
  height: auto;

  display: flex;
  justify-content: space-between;
}

.content_small {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.small_card {
  width: 200px;
  height: 180px;

  overflow: hidden;
  border-radius: 0.8rem;
  background-size: cover;
}

.big_card {
  width: 70%;

  border-radius: 0.8rem;

  margin-right: 2rem;
  margin-left: 2rem;

  background-size: cover;
}

.info_content {
  width: 40%;
}

.product_name {
  margin-bottom: 1.8rem;

  font-size: 2.5rem;
  font-weight: 700;

  color: #282828;
}

.product_price {
  margin-right: 2.5rem;

  font-size: 4rem;
  font-weight: 700;
  color: #282828;
}

.discount_item {
  position: relative;

  font-size: 2.5rem;
  font-weight: 500;
  color: #8b8b8b;
}

.delete_symbol {
  position: absolute;
  top: 50%;
  right: 0;

  width: 100%;

  border: solid 1px #8b8b8b;
}

.discount_percent {
  position: absolute;
  width: 4rem;
  height: 2.1rem;

  border-radius: 0.3rem;
  padding-top: 0.3rem;

  background-color: #339933;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  color: #ffffff;
}

.counting_filds {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.counting_items {
  display: flex;
}

.count_button {
  width: 58px;
  height: 58px;

  border: 1px solid #dddddd;
  background-color: transparent;
  font-size: 2rem;
}


.count_data {
  width: 96px;
  height: 58px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #dddddd;
  background-color: transparent;
  font-size: 1.5rem;
}

.adding_btn {
  width: 316px;
  height: 58px;

  border-radius: 0.3rem;
  border: #339933;

  background-color: #339933;
  font-size: 1.2em;
  font-weight: 600;
  color: #ffffff;

  transition: background 0.3s, color 0.3s;
  cursor: pointer;
}

.adding_btn:hover {
  background-color: #282828;
}

.added {
  border: 2px solid #282828;
  background-color: #ffffff;
  color: #282828;
}

.added:hover {
  background-color: #ffffff;
}

.heading {
  margin-bottom: 1rem;
  margin-top: 2rem;

  font-size: 1.2rem;
  font-weight: 600;
  color: #282828;
}

.text,
.link {
  font-size: 1rem;
  font-weight: 400;
  color: #282828;
}

.link {
  margin-top: 1rem;
}

@media (max-width: 1250px) {
  .content_wrapper {
    flex-direction: column;
    height: auto;
    gap: 2rem;
  }

  .small_card {
    width: 250px;
    height: 230px;
  }

  .images_content {
    width: 100%;
    justify-content: space-around;
    margin: 2.5rem 0;
  }

  .info_content {
    width: 100%;
    text-align: center;
  }

  .counting_filds {
    justify-content: center;
  }

}

@media (max-width: 1024px) {
  .content_small {
    display: none;
  }

  .small_card {
    width: 200px;
    height: 180px;
  }

  .big_card {
    height: 600px;
  }

  .info_content {
    width: 100%;
    text-align: center;
  }

  .product_name {
    margin-top: 1.8rem;
  }
}

@media (max-width: 768px) {

  .big_card {
    width: 420px;
    height: 400px;
    margin: 0;
  }

  .info_content {
    display: flex;
    flex-direction: column;
  }

  .adding_btn {
    margin-top: 2rem;
    width: 70%;
    height: 70px;
  }

  .product_price {
    font-size: 3.5rem;
  }

  .discount_percent {
    bottom: 2rem;
  }

  .counting_filds {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .discount_item {
    width: max-content;
    margin: 2rem;
    left: 20%;
  }
}

@media (max-width: 425px) {
  .big_card {
    width: 100%;
    height: 300px;
  }

  .product_price {
    font-size: 3rem;
  }

  .counting_filds {
    flex-wrap: wrap;
    margin-bottom: 0;
  }

  .discount_item {
    left: 10%;
  }

  .adding_btn {
    width: 100%;
  }
}