.main_container {
  width: 100%;
  height: auto;
  padding: 2.5rem;
}

.categories_container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 100%;
  height: auto;

}

.buttons_wrapper a {
  text-decoration: none;
}

@media (max-width: 1024px) {
  .categories_container {
    gap: 5rem;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .categories_container {
    gap: 2rem;
  }
}