.title_content {
  display: flex;
  align-items: center;
  margin-bottom: 2.5rem;
  margin-top: 2.5rem;
}

.shopping_header {
  font-size: 4rem;
  font-weight: 700;
  white-space: nowrap;
  flex-shrink: 0;
}

.hr {
  width: 50%;
  border: solid 1px #dddddd;
  margin-top: 0.6rem;
  margin-left: 2rem;
}

.title_content a {
  flex-shrink: 0;
}

.shopping_button {
  padding: 8px 16px;

  background-color: transparent;
  border: 1px solid #DDDDDD;
  border-radius: 0.5rem;

  font-size: 1rem;
  font-weight: 500;
  color: #8b8b8b;
  text-align: center;

  transition: background 0.3s;
  cursor: pointer;

}

.categories_button:hover {
  background: #F1F3F4;
}

@media (max-width: 1024px) {
  .title_content {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .hr {
    width: 100%;
    margin-left: 0;
  }

  .shopping_header {
    font-size: 3.5rem;
  }

  .shopping_button {
    min-width: 16%;
  }
}

@media (max-width: 768px) {

  /* .title_content {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  } */
  .shopping_header {
    font-size: 3rem;
  }

  .hr {
    width: 100%;
  }
}

@media (max-width: 425px) {
  .shopping_header {
    font-size: 2.5rem;
  }
}

@media (max-width: 375px) {
  .shopping_header {
    text-align: center;
  }
}