.card_wrapper {
  display: block;
  width: 316px;
  height: 442px;
  border: 1px solid #dddddd;
  border-radius: 1rem;
  font-size: 1.3rem;
  color: #282828;
  font-weight: 500;
  margin-bottom: 2.5rem;
  white-space: nowrap;
}

.image {
  width: 100%;
  height: 284px;
  background-size: cover;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  overflow: hidden;

  border: none;
}

.card_name {
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 2rem 1.4rem;
}
.card_name:hover {
  overflow: visible;
  cursor: pointer;
}

.product_price {
  font-size: 2.5rem;
  font-weight: 600;
  margin-left: 2rem;
  margin-right: 1rem;
}

.discount_item {
  position: relative;
  color: #8b8b8b;
}

.delete_symbol {
  position: absolute;
  top: 50%;
  right: 0;
  width: 100%;
  border: solid 1px #8b8b8b;
}

@media (max-width: 1024px) {
  .prodact_wrapper {
    gap: 5rem;
  }
}
@media (max-width: 768px) {
  .prodact_wrapper {
    gap: 2rem;
  }
}
