.card_wrapper {
  display: block;
  width: 316px;
  height: 442px;
  border: 1px solid #dddddd;
  border-radius: 1rem;
  margin-bottom: 2.5rem;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  transition: 0.1s;
}
.card_link {
  font-size: 1.3rem;
  color: #282828;
  font-weight: 500;
  text-decoration: none;
}

.image {
  width: 100%;
  height: 284px;
  background-size: cover;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  overflow: hidden;

  border: none;
}
.discount_percent {
  position: absolute;
  right: 0;
  top: 0;
  width: 65px;
  height: 28px;
  background-color: #339933;
  border-radius: 0.5rem;
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
  margin: 0.5rem;
  color: #ffffff;
}

.adding_btn {
  position: absolute;
  left: -100%;
  width: 284px;
  background-color: #339933;
  border-radius: 0.5rem;
  border: #339933;
  font-size: 1.3rem;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
  padding: 1rem 2rem;
  margin: 1rem;
}
.adding_btn:hover {
  background-color: #282828;
}

.added {
  color: #282828;
  background-color: #ffffff;
  border: 2px solid #282828;
}

.added:hover {
  background-color: #ffffff;
}

.card_wrapper:hover .adding_btn {
  left: 0;
  top: 45%;
  transition: 2s;
}

.card_name {
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 2rem 1.4rem;
}
.card_name:hover {
  overflow: visible;
  cursor: pointer;
}

.product_price {
  font-size: 2.5rem;
  font-weight: 600;
  margin-left: 2rem;
  margin-right: 1rem;
}

.discount_item {
  position: relative;
  color: #8b8b8b;
}

.delete_symbol {
  position: absolute;
  top: 50%;
  right: 0;
  width: 100%;
  border: solid 1px #8b8b8b;
}

@media (max-width: 1024px) {
  .prodact_wrapper {
    gap: 5rem;
  }
}
@media (max-width: 768px) {
  .prodact_wrapper {
    gap: 2rem;
  }
}
