.prodact_wrapper {
  padding: 5 rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.8rem;
  font-size: 1.3rem;
  color: #282828;
  font-family: "Montserrat", sans-serif;
}

.card_wrapper {
  width: 316px;
  height: 442px;
  border: 1px solid #dddddd;
  border-radius: 1rem;
  background: center;
  text-align: left;
  margin-bottom: 2.5rem;
}

.image {
  width: 100%;
  height: 284px;
  background-size: cover;
  border: none;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  overflow: hidden;
}

.card_name {
  font-size: 1.2rem;
  font-weight: 500;
  color: #282828;
  margin-left: 2rem;
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
}
.product_price {
  font-size: 2.5rem;
  font-weight: 600;
  color: #282828;
  margin-left: 2rem;
  margin-right: 1rem;
}

.discount_item {
  position: relative;
  font-size: 1.2rem;
  font-weight: 500;
  color: #8b8b8b;
}

.delete_symbol {
  position: absolute;
  top: 50%;
  right: 0;
  width: 100%;
  border: solid 1px #8b8b8b;
}

@media (max-width: 1024px) {
  .prodact_wrapper {
    gap: 5rem;
  }
}
@media (max-width: 768px) {
  .prodact_wrapper {
    gap: 2rem;
  }
}
