.main_container {
  padding: 2.5rem 2.5rem 0 2.5rem;
}

.buttons_wrapper {
  display: flex;
  position: relative;
  font-size: 1rem;
  font-weight: 500;
}
.hr {
  position: absolute;
  left: 118px;
  width: 1.5rem;
  margin-top: 1.1rem;
  height: 0;
  border: solid 1px #dddddd;
}

.categories_header {
  font-size: 4rem;
  font-weight: 700;
  color: #282828;
  margin: 2.5rem 0;
}

@media (max-width: 1024px) {
  .categories_header {
    font-size: 3.5rem;
  }
}
@media (max-width: 768px) {
  .categories_header {
    font-size: 3rem;
    text-align: center;
    margin-top: 0;
  }
  .buttons_wrapper {
    display: none;
  }
}
@media (max-width: 425px) {
  .categories_header {
    font-size: 2.5rem;
  }
  .buttons_wrapper {
    display: none;
  }
}
