.title_content {
  display: flex;
  align-items: center;
  margin-bottom: 2.5rem;
  margin-top: 2.5rem;
}
.sale_header {
  font-size: 4rem;
  font-weight: 700;
}
.hr {
  width: 82%;
  border: solid 1px #dddddd;
  margin-top: 0.6rem;
  margin-left: 2rem;
}

.sale_button {
  min-width: 11%;
  padding: 0.5rem;
  border-color: #dddddd;
  border-radius: 0.5rem;
  color: #8b8b8b;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
}

@media (max-width: 1024px) {
  .sale_header {
    font-size: 3.5rem;
  }
  .sale_button {
    min-width: 16%;
  }
}
@media (max-width: 768px) {
  .title_content {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .hr {
    width: 100%;
    margin-left: 0;
  }
  .sale_button {
    min-width: 18%;
  }
}

@media (max-width: 425px) {
  .sale_button {
    min-width: 38%;
  }
}
@media (max-width: 425px) {
  .sale_header {
    font-size: 2.5rem;
  }
  .title_content {
    margin-top: 0;
  }
}
