.categories_wrapper {
  padding: 5 rem;
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-size: 1.3rem;
  color: #282828;
  font-family: "Montserrat", sans-serif;
}
.button_wrapper {
  width: 316px;
  height: auto;
  border-radius: 1rem;
  background: center;
}

.image_button {
  width: 100%;
  height: 350px;
  background-size: cover;
  border: none;
  border-radius: 1rem;
  background-size: cover;
  overflow: hidden;
}
.card_name {
  font-size: 1.2rem;
  font-weight: 500;
  color: #282828;
  margin-top: 1rem;
  margin-bottom: 1.4rem;
}

@media (max-width: 1024px) {
  .categories_wrapper {
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
  }
}
@media (max-width: 768px) {
  .categories_wrapper {
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
}
