.main_title {
  background-image: url(../../assets/images/title_img.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transform: scaleX(-1);
  padding: 5rem 2.5rem 13rem;
}
.title_content_wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  transform: scaleX(-1);
}
.main_header {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 6rem;
  color: #ffffff;
}

.main_title_button {
  background-color: #339933;
  border: none;
  border-radius: 0.5rem;
  width: 218px;
  height: 58px;
  padding: 1rem 3.5rem;
  font-size: 1.2rem;
  color: #ffffff;
  /* transform: scaleX(-1) */
}
@media (max-width: 1024px) {
  .main_header {
    font-size: 5rem;
    text-align: center;
  }
  .title_content_wrapper {
    align-items: center;
  }
  .main_title {
    padding: 9rem 0;
  }
}

@media (max-width: 768px) {
  .main_header {
    font-size: 4rem;
  }
}
@media (max-width: 425px) {
  .main_header {
    font-size: 3.5rem;
    line-height: 5.5rem;
  }
  .main_title {
    padding: 3rem 0;
  }
}
