.categories_container {
  width: 100%;
  height: auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  gap: 2rem;
}

@media (max-width: 1024px) {
  .categories_container {
    gap: 5rem;
  }
}

@media (max-width: 768px) {
  .categories_container {
    gap: 2rem;
  }
}