.forms_content {
  margin: 2.5rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 600;

  color: #282828;
}
.form_wrapper {
  display: flex;
  align-items: center;
  gap: 1.3rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.from,
.to {
  width: 112px;
  font-size: 1rem;
  font-weight: 500;
  color: #8b8b8b;
  padding: 0.5rem 1rem;
  border: 1px solid #dddddd;
  border-radius: 0.5rem;
}

.checkbox {
  width: 36px;
  height: 36px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #ddd;
  border-radius: 6px;

  transition: background 0.3s;
}

.checkbox::before {
  content: "";

  width: 24px;
  height: 24px;

  background: url(../../assets/images/check.svg) no-repeat;
  background-size: cover;

  opacity: 0;
  transition: opacity 0.3s;
}

.checkbox_active {
  background: #339933;
  border: 1px solid transparent;
}

.checkbox_active::before {
  opacity: 1;
}

.selection_field {
  min-width: 200px;
  font-size: 1rem;
  font-weight: 500;
  color: #8b8b8b;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  border: 1px solid #dddddd;
  border-radius: 0.5rem;
}
