.form_wrapper {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2.5rem 2.5rem 0 2.5rem;
  margin: 2.5rem;
  border-radius: 1rem;
  background: linear-gradient(261.47deg, #0b710b 32.63%, #339933 98.96%);
}
.form_title {
  font-size: 4rem;
  font-weight: 700;
  color: #ffffff;
}

@media (max-width: 768px) {
  .form_title {
    font-size: 2.8rem;
    text-align: center;
    margin-top: 2rem;
  }
  .form_wrapper {
    padding: 0;
  }
}

@media (max-width: 425px) {
  .form_title {
    text-align: center;
    margin: 2rem 1rem 0 1rem;
  }
  .form_wrapper {
    margin: 0;
  }
}
